/* 
*
              Header 
*
*/

// Nav
.nav {
  height: 3.7em;
  padding: 0 7.5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  color: $neutral-grayish-blue;

  &__links {
    width: 30rem;
    margin: 0 3em;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    text-decoration: none;
  }
  &__menu {
    width: 1.5em;
    height: 0.9em;
    margin-left: auto;
  }
  &__button {
    display: none;
  }
}

// nav media query
@include media("<desktop") {
  .nav__links {
    color: $primary-dark-blue;
    display: none;
  }
}

// Hero
.hero {
  text-align: center;
  padding-bottom: 2.5rem;
  &__image {
    height: 45vh;
    width: 100%;
    background: url(../images/image-mockups.png) no-repeat,
      url(../images/bg-intro-mobile.svg) no-repeat;
    background-position: right 50% bottom -7%, left center;
    background-repeat: no-repeat, repeat;
    background-size: 87%, cover;
  }
  &__title {
    font-weight: weight(light);
    font-size: 2.9em;
    color: $primary-dark-blue;
  }
  &__subtitle {
    line-height: 1.7;
    padding: 0 7.5%;
  }
  &__cta {
    margin: 2em;
  }
}
