@import url(https://fonts.googleapis.com/css?family=Public+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

//colors - primary
$primary-dark-blue: hsl(233, 26%, 24%);
$primary-lime-green: hsl(136, 65%, 51%);
$primary-bright-cyan: hsl(192, 70%, 51%);

//colors - neutral
$neutral-grayish-blue: hsl(233, 8%, 62%);
$neutral-light-grayish-blue: hsl(220, 16%, 96%);
$neutral-very-light-gray: hsl(0, 0%, 98%);
$neutral-white: hsl(0, 0%, 100%);

// fonts & bg
$transparent-white: hsla(0, 0%, 100%, 0.75);
$light-gray: hsla(0, 0%, 100%, 0.75);

$font-weights: (
  "regular": 300,
  "bold": 400,
  "bolder": 500,
);

// font-size
$font-normal: 18px;

// screen defs
$mobile: 375px;
$desktop: 1440px;

// font-family
$font-Public-Sans: "Public Sans", sans-serif;
