@import "normalize.scss";
@import "variables";
@import "config";
@import "include-media";

// Globals
body {
  font-size: $font-normal;
  font-family: $font-Public-Sans;
  color: $neutral-grayish-blue;
}

.inner-container {
  width: 85%;
  height: 100vh;
  border: solid red 2px;
  margin: 0 auto;
}

.invite-button {
  width: 10.3em;
  height: 2.9em;
  border: solid $primary-lime-green 1px;
  border-radius: 25px;
  background: linear-gradient(
    to right,
    $primary-lime-green,
    $primary-bright-cyan
  );
  color: $transparent-white;
}

/* 
*
              Header 
*
*/


.header {

}



// Nav
.nav {
  height: 3.7em;
  padding: 0 7.5%;
  display: flex;
  align-items: center;
  &__logo {
    margin-right: auto;
  }
  &__links {
    width: 30rem;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;
  }
  &__menu {
    width: 1.5em;
    height: 0.9em;
    margin-left: auto;
  }
}

// nav media query
@include media("<desktop") {
  .nav__links {
    display: none;
  }
}

// Hero
.hero {
  text-align: center;
  &__image {
    height: 45vh;
    width: 100%;
    background:url(../images/bg-intro-mobile.svg), url(../images/image-mockups.png);
  }
  &__title {
    font-weight: weight(light);
    font-size: 2.9em;
    color: $primary-dark-blue;
  }
  &__subtitle {
    line-height: 1.7;
    padding: 0 7.5%;
  }
  &__cta {
margin: 2em;
  }

}