@import "normalize.scss";
@import "variables";
@import "config";
@import "include-media";

@import "header.scss";
@import "features.scss";
@import "article.scss";
@import "footer.scss";

// Globals
body {
  font-size: $font-normal;
  font-family: $font-Public-Sans;
  color: $neutral-grayish-blue;
}

.main {
  min-width: 320px;
  position: relative;
  overflow: clip;
}

a,
a:visited {
  color: $transparent-white;
  text-decoration: none;
}

.inner-container {
  width: 85%;
  height: 100vh;
  margin: 0 auto;
}

.invite-button {
  width: 10.3em;
  height: 2.9em;
  border: solid $primary-lime-green 1px;
  border-radius: 25px;
  background: linear-gradient(
    to right,
    $primary-lime-green,
    $primary-bright-cyan
  );
  color: $neutral-white;
}

// Utility
.line-height-def {
  line-height: 1.7;
}

.text__title {
  font-weight: weight(light);
  font-size: 2.4em;
  color: $primary-dark-blue;
}

.text__subtitle {
  line-height: 1.7;
  padding: 0 7.5%;
}
.fw-light {
  font-weight: weight(light);
  color: $primary-dark-blue;
}

/* 
*
              Media Queries 
*
*/
@media (max-width: 1024px) {
  //   .desktop-image {
  //     display: none;
  //   }
  // }



  //   /*
  // *
  //               Navbar
  // *
  // */
  //   // Nav
  //   .nav {
  //     height: 4.5em;
  //     position: relative;
  //     z-index: 1;
  //     background: $transparent-white;
  //     color: $primary-dark-blue;
  //     &__menu {
  //       display: none;
  //     }
  //   }




}

// Media Queries

// above or equal to tablet mode
@include media("<tablet") {
  // remove desktop image on tablets and mobile
  .desktop-image {
    display: none;
  }
}

// grey area b/n tablet and phone
@include media(">=tablet", "<=desktop") {

  .nav {
    height: 4.5em;
    position: relative;
    z-index: 1;
    background: $transparent-white;
    color: $primary-dark-blue;
    &__menu {
      display: block;
    }
  }
  .hero {
    display: flex;
    flex-direction: row-reverse;
    &__text {
      width: 50vw;
      text-align: left;
    }
    &__image {
      height: 70vh;
      width: 50%;
      background: url(../images/bg-intro-desktop.svg) no-repeat;
      background-position: right -23vw bottom -7vh;
      background-size: 150%;
    }
  }

  .desktop-image {
    position: relative;
    left: 5.5vw;
    top: -12vh;
  }
  
}
// greater than or desktop
@include media(">=desktop") {

  .nav {
        height: 4.5em;
        position: relative;
        z-index: 1;
        background: $transparent-white;
        color: $primary-dark-blue;
        &__menu {
          display: none;
        }
      }

  .hero {
    display: flex;
    flex-direction: row-reverse;
    &__text {
      width: 50vw;
      text-align: left;
    }
    &__image {
      height: 70vh;
      width: 50%;
      background: url(../images/bg-intro-desktop.svg) no-repeat;
      background-position: right -23vw bottom -7vh;
      background-size: 150%;
    }
  }

  .desktop-image {
    position: relative;
    left: 5.5vw;
    top: -12vh;
  }
  .main {
    overflow: auto;
  }

  .grid {
        display: grid;
        grid-template-columns: repeat(4, minmax(auto, 20em));
        gap: 1em;
        justify-content: center;
        text-align: left;
      }
  
      .footer {
        display: flex;
        justify-content: space-around;
      }
    
}




// // greater than or desktop
// @include media(">=HD") {
// }
